<mat-toolbar color="primary">
    <span>Employee Address</span>
    <span class="space"></span>
    <button mat-raised-button (click)="openemployeeaddress()">Add Employee</button>
  </mat-toolbar>
  <div class="main-body">
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
    </mat-form-field>
    
    <div class="table-container">
      <table mat-table [dataSource]="dataSource" matSort>
    
        <!-- ID Column -->
        <!-- <ng-container matColumnDef="srno">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Sr. No. </th>
          <td mat-cell *matCellDef="let user"> {{user.id}} </td>
        </ng-container> -->
        <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Address </th>
          <td mat-cell *matCellDef="let employeeaddress"> {{employeeaddress.address}} </td>
        </ng-container>
        <ng-container matColumnDef="employeeId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Employee </th>
          <td mat-cell *matCellDef="let employeeaddress"> {{employeeaddress.employeeName}} </td>
        </ng-container>
        <ng-container matColumnDef="city">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> City </th>
          <td mat-cell *matCellDef="let employeeaddress"> {{employeeaddress.city}} </td>
        </ng-container>
        <ng-container matColumnDef="state">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> State </th>
          <td mat-cell *matCellDef="let employeeaddress"> {{employeeaddress.state}} </td>
        </ng-container>
        <ng-container matColumnDef="country">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Country </th>
          <td mat-cell *matCellDef="let employeeaddress"> {{employeeaddress.country}} </td>
        </ng-container>
        <ng-container matColumnDef="pincode">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Pincode </th>
          <td mat-cell *matCellDef="let employeeaddress"> {{employeeaddress.pincode}} </td>
        </ng-container>
        <ng-container matColumnDef="addressTypeId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> AddressType </th>
          <td mat-cell *matCellDef="let employeeaddress"> {{employeeaddress.typeOfAddress}} </td>
        </ng-container>
    
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
          <td mat-cell *matCellDef="let employeeaddress" class="action"> 
            
            <button mat-icon-button (click)="updateemployeeaddress(employeeaddress)">
              <mat-icon>edit</mat-icon>
            </button> &nbsp;
            <button mat-icon-button (click)="deleteemployeeaddress(employeeaddress.id,employeeaddress)">
              <mat-icon color="warn">delete</mat-icon>
            </button>  
          </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let employeeaddress; columns: displayedColumns;"></tr>
    
        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>
    
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of Employee"></mat-paginator>
    </div>
  </div>
    
    
