<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <h1 style="padding-top: 18px;">Employee Management</h1>
    </mat-toolbar-row>
    
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav opened="true" mode="side" style="width: 220px;">
        <mat-nav-list>
            <a mat-list-item routerLink="/employee-list">Employee</a>
            <a mat-list-item routerLink="/employeeaddress-list">Employee Address</a>
            <a mat-list-item routerLink="/addresstype-list">AddressType</a>
            <a mat-list-item routerLink="/employeefamilydetail-list">Employee Family Details</a>
            <a mat-list-item routerLink="/employeerelation-list">Employee Relations</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div style="text-align: center; min-height: 600px;">
        
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>



